@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;    
    background-color: #ddddde;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.text {
    padding-left: 4em;
    padding-right: 3em;
    margin: 0;
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 2em;
    font-size: 50px;
    font-weight: 300;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.socialmedia {
    width: 50px;
    margin: 25px;
    padding-top: 5rem;
}

footer {
    text-align: center;
}